{% extends "base.html" %}

{% block content %}
<section class="places-section">
    <h1>Достопримечательности Башкортостана</h1>

            <div class="accordion-item">
            <h3 class="accordion-header">Культурное наследие</h3>
            <div class="accordion-content">
                <p>Республика сохранила богатые традиции башкирского народа. Особенно известны народный праздник Сабантуй и творчество Мустая Карима.</p>
            </div>
        </div>
    <div class="accordion-item">
        <h3 class="accordion-header">Капова Пещера</h3>
        <div class="accordion-content">
            <p>Памятник первобытного искусства. Внутри находятся древние рисунки возрастом более 10 000 лет.</p>
        </div>
    </div>
    
    <div class="accordion-item">
        <h3 class="accordion-header">Национальный музей РБ</h3>
            <div class="accordion-content">
                <p>Крупнейший музей республики с богатой коллекцией артефактов и экспозиций.</p>
            </div>
    </div>

    <div class="accordion-item">
        <h3 class="accordion-header">Уфимская мечеть Ляля-Тюльпан</h3>
        <div class="accordion-content">
            <p>Современный архитектурный шедевр с минаретами в форме тюльпанов.</p>
        </div>
    </div>
</section>
{% endblock %}